@import url("https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat:900");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-clip-path: border-box;
          clip-path: border-box;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  font-family: 'Gabriela', serif;
}

.block {
  position: relative;
  height: 100vh;
}
/* Блок 1 с картиной */
[class*='item-parallax'] {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  will-change: transform;
}

.item-parallax-media {
  z-index: 1;
}
.item-parallax-media img {
  will-change: transform;
}

.item-parallax-content {
  z-index: 2;
}

.block:nth-child(1) .item-parallax-content {
  -webkit-transform: translateY(calc( var(--yBlock-1) * 0.5px ));
          transform: translateY(calc( var(--yBlock-1) * 0.5px ));
}

.block:nth-child(1) .item-parallax-media img {
  -webkit-transform: translateY(calc( var(--yBlock-1) * 0.1px ));
          transform: translateY(calc( var(--yBlock-1) * 0.1px ));
}

.block:nth-child(2) .item-parallax-content {
  -webkit-transform: translateY(calc( var(--yBlock-2) * 0.5px ));
          transform: translateY(calc( var(--yBlock-2) * 0.5px ));
}

.block:nth-child(2) .item-parallax-media img {
  -webkit-transform: translateY(calc( var(--yBlock-2) * 0.1px ));
          transform: translateY(calc( var(--yBlock-2) * 0.1px ));
}

.block:nth-child(3) .item-parallax-content {
  -webkit-transform: translateY(calc( var(--yBlock-3) * 0.5px ));
          transform: translateY(calc( var(--yBlock-3) * 0.5px ));
}

.block:nth-child(3) .item-parallax-media img {
  -webkit-transform: translateY(calc( var(--yBlock-3) * 0.1px ));
          transform: translateY(calc( var(--yBlock-3) * 0.1px ));
}

.block:nth-child(4) .item-parallax-content {
  -webkit-transform: translateY(calc( var(--yBlock-
    4) * 0.5px ));
          transform: translateY(calc( var(--yBlock-4) * 0.5px ));
}

.block:nth-child(4) .item-parallax-media img {
  -webkit-transform: translateY(calc( var(--yBlock-4) * 0.1px ));
          transform: translateY(calc( var(--yBlock-4) * 0.1px ));
}

.block:nth-child(5) .item-parallax-content {
  -webkit-transform: translateY(calc( var(--yBlock-5) * 0.5px ));
          transform: translateY(calc( var(--yBlock-5) * 0.5px ));
}

.block:nth-child(5) .item-parallax-media img {
  -webkit-transform: translateY(calc( var(--yBlock-5) * 0.1px ));
          transform: translateY(calc( var(--yBlock-5) * 0.1px ));
}

html {
  background-color: #00171f;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.centered-content {
  margin: auto;
}

.head-large {
  margin-bottom: 5vw;
  font-size: 10vw;
  line-height: 1.2em;
  font-family: 'Inknut Antiqua', serif;
  color: white;
}

.head-small {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.head-centered {
  text-align: center;
}

.copy {
  display: block;
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8em;
  text-align: center;
}

.copy-white {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item-parallax-media {
  overflow: hidden;
}
.item-parallax-media img {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-landing:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 24%;
  width: 10px;
  height: 80%;
  background-color: white;
  z-index: 3;
  -webkit-transform: translateY(-13vw);
          transform: translateY(-13vw);
}

.section-landing .item-parallax-media {
  opacity: calc( 1 - (var(--y) * 0.0009) );
}

.landing-content {
  padding-left: 30%;
}

.section-intro:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 80%;
  background-color: #0d232a;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(calc( (var(--y) * 0.1deg) ));
          transform: translateX(-50%) translateY(-50%) rotate(calc( (var(--y) * 0.1deg) ));
  will-change: transform;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.img-grid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img-gridItem {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.img-gridItem img {
  display: block;
  width: 50%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: transform;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}
.img-gridItem.type-left img {
  margin-right: auto;
}
.img-gridItem.type-right img {
  margin-left: auto;
}

.img-gridItem:nth-child(1) img {
  -webkit-transform: translateX(calc( var(--yBlock-4) * -0.03% ));
          transform: translateX(calc( var(--yBlock-4) * -0.03% ));
}
.img-gridItem:nth-child(2) img {
  -webkit-transform: translateX(calc( var(--yBlock-4) * 0.03% ));
          transform: translateX(calc( var(--yBlock-4) * 0.03% ));
}

.img-caption {
  position: absolute;
  top: 50%;
  width: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.img-caption * {
  text-align: left;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.type-left .img-caption {
  right: 0;
}
.type-right .img-caption {
  left: 0;
}

.section-end:before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 24%;
  width: 10px;
  height: 80%;
  background-color: white;
  z-index: 3;
  -webkit-transform: translateY(8vw);
          transform: translateY(8vw);
}

.custom-properties-ftw {
  padding: 2.5rem 1.5rem;
}
.custom-properties-ftw .head-small {
  margin-bottom: 0;
}
a {
  color: #d44457;
  text-decoration: none;
}
.cd-header {
  z-index: 999;
  position: absolute;
  font-family: 'Merriweather', serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #21272c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
  }
}

#cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
#cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  #cd-logo {
    margin: 23px 0 0 5%;
  }
}

.cd-primary-nav {
  font-size: 1.09rem;
  float: right;
  margin-right: 5%;
  margin-top:15px;
  width: 44px;
  height: 100%;
  background: url("../assets/cd-icon-menu.svg") no-repeat center center;
}
.cd-primary-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-primary-nav ul.is-visible {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-primary-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #21272c;
  border-top: 1px solid #333c44;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    /* reset navigation values */
    width: auto;
    height: auto;
    background: none;
  }
  .cd-primary-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-primary-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-primary-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-primary-nav a {
    display: inline-block;
    height: auto;
    font-weight: 600;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
  }
